
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;;
}



.member{
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: absolute;
}

.form-box{
    width: 380px;
    height: 480px;
    position: relative;
    margin: 6% auto;
    background: white;
    padding: 5px;
    overflow: hidden;
}

.button-box{
    width: 220px;
    margin: 35px auto;
    position:relative;
    box-shadow: 0 0 20px 4px rgb(255, 124, 36);
    border-radius: 30px;
}

.toggle-btn{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}

#btn{
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right, rgb(241, 67, 67), rgb(255, 124, 36));
    border-radius: 30px;
    transition: .5s;
}

.social-icons{
    margin:30px auto;
    text-align: center;
    font-size: 20px;
    letter-spacing: 5px;
    color: rgb(241, 67, 67);
    cursor: pointer;
    
}


.input-group{
    top: 180px;
    position: absolute;
    width: 280px;
    transition: .5s;
}

.input-field{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 1px solid rgb(153, 153, 153);
    outline: none;
    background: transparent;
    
}

.submit-btn{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, rgb(241, 67, 67), rgb(255, 124, 36));
    border: 0;
    outline: none;
    border-radius: 30px;
}

.check-box{
    margin: 30px 10px 30px 0;
}

span{
    color: #777;
    font-size: 15px;
    bottom: 63px;
    position: absolute;
}

#login{
    left: 50px;
}

#register{
    left: 450px;
}

::-webkit-scrollbar{
    width: 12px;
}

::-webkit-scrollbar-thumb{
    background-color:#ff5100;
    border-radius: 6px;
    background: linear-gradient(transparent,#ff5100);
}
::-webkit-scrollbar-thumb:hover{
    background: linear-gradient(transparent,red);
}

.hide{
    margin: auto;
    display: flex;
    padding: 0px;
    position: absolute;
    top: 62px;
    right: 10px;
    cursor: pointer;
    color: #777;

}